.box{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.from-input{
    width: 100%;
}
@media (max-width: 991px) {
     .box{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}
// Mobile
@media (max-width: 450px) {
   .box{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .from-input{
         width: 100%;
    }
}