.menu-list{
    font-size: 18px;
    text-decoration: none;
    color:grey;
    &.selected{
        color:dodgerblue;
        font-size: 20px;
    }
}

.app-content{
    margin-top:14px;
    margin-bottom: 14px;
}