<meta charset='utf-8'>

<link crossorigin="anonymous" href="/assets/style.min.css" media="all" rel="stylesheet" />
<link crossorigin="anonymous" href="/assets/page.min.css" media="all" rel="stylesheet" />

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">
<meta name="viewport" content="width=device-width">

<title>Developer Hand Book</title>
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<meta name="description" content="Easy to learn git by command line. Set of git command to keep handy which you use. Good for beginner and intermediate git users.">
<meta name="robots" content="all">
<meta name="googlebot" content="all">
    
<% include ./googles/g-analytics.html %>
<% include ./googles/g-adsense.html %>