<div class="container repohead-details-container"></div>
<div class="container">
     
<nav class="reponav js-repo-nav js-sidenav-container-pjax" itemscope="" itemtype="http://schema.org/BreadcrumbList" role="navigation" data-pjax="#js-repo-pjax-container">

  <span itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
    <a href="/git" <% if(page_name == "git") {%>aria-selected="true"<%}%> class="js-selected-navigation-item reponav-item <% if(page_name == "git") {%>selected<%}%>" data-hotkey="g c" data-selected-links="repo_source repo_downloads repo_commits repo_releases repo_tags repo_branches /prashantkoshta/developer-hand-book" itemprop="url">
      <span itemprop="name">
		 <% if(page_name == "git") {%>
			<strong><i>Git</i></strong>
		 <%} else {%>
			Git
		 <%}%>
		
	  </span>
      <meta itemprop="position" content="1">
</a>  </span>

    <span itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
      <a href="/linux" <% if(page_name == "linx") {%>aria-selected="true"<%}%>  class="js-selected-navigation-item reponav-item <% if(page_name == "linux") {%>selected<%}%>" data-hotkey="g i" data-selected-links="repo_issues repo_labels repo_milestones /prashantkoshta/developer-hand-book/issues" itemprop="url">
        <span itemprop="name">
			 <% if(page_name == "linux") {%>
				<strong><i>Linux</i></strong>
			 <%} else {%>
				Linux
			 <%}%>
		</span>
        <meta itemprop="position" content="2">
</a>    </span>

<!--
  <span itemscope="" itemtype="http://schema.org/ListItem" itemprop="itemListElement">
    <a href="/prashantkoshta/developer-hand-book/pulls" class="js-selected-navigation-item reponav-item" data-hotkey="g p" data-selected-links="repo_pulls /prashantkoshta/developer-hand-book/pulls" itemprop="url">
      <span itemprop="name">Pull requests</span>
      <meta itemprop="position" content="3">
</a>  </span>

  <a href="/prashantkoshta/developer-hand-book/projects" class="js-selected-navigation-item reponav-item" data-selected-links="repo_projects new_repo_project repo_project /prashantkoshta/developer-hand-book/projects">
    <svg class="octicon" aria-hidden="true" version="1.1" width="15" height="16" viewBox="0 0 15 16">
      <path d="M1 15h13V1H1v14zM15 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1zm-4.41 11h1.82c.59 0 .59-.41.59-1V3c0-.59 0-1-.59-1h-1.82C10 2 10 2.41 10 3v8c0 .59 0 1 .59 1zm-4-2h1.82C9 10 9 9.59 9 9V3c0-.59 0-1-.59-1H6.59C6 2 6 2.41 6 3v6c0 .59 0 1 .59 1zM2 13V3c0-.59 0-1 .59-1h1.82C5 2 5 2.41 5 3v10c0 .59 0 1-.59 1H2.59C2 14 2 13.59 2 13z"></path>
    </svg>
    Projects
    <span class="counter">0</span>
</a>
    <a href="/prashantkoshta/developer-hand-book/wiki" class="js-selected-navigation-item reponav-item" data-hotkey="g w" data-selected-links="repo_wiki /prashantkoshta/developer-hand-book/wiki">
      <svg aria-hidden="true" class="octicon octicon-book" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z"></path></svg>
      Wiki
</a>

  <a href="/prashantkoshta/developer-hand-book/pulse" class="js-selected-navigation-item reponav-item" data-selected-links="pulse /prashantkoshta/developer-hand-book/pulse">
    <svg aria-hidden="true" class="octicon octicon-pulse" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path d="M11.5 8L8.8 5.4 6.6 8.5 5.5 1.6 2.38 8H0v2h3.6l.9-1.8.9 5.4L9 8.5l1.6 1.5H14V8z"></path></svg>
    Pulse
</a>
  <a href="/prashantkoshta/developer-hand-book/graphs" class="js-selected-navigation-item reponav-item" data-selected-links="repo_graphs repo_contributors /prashantkoshta/developer-hand-book/graphs">
    <svg aria-hidden="true" class="octicon octicon-graph" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M16 14v1H0V0h1v14h15zM5 13H3V8h2v5zm4 0H7V3h2v10zm4 0h-2V6h2v7z"></path></svg>
    Graphs
</a>
    <a href="/prashantkoshta/developer-hand-book/settings" class="js-selected-navigation-item reponav-item" data-selected-links="repo_settings repo_branch_settings hooks integration_installations /prashantkoshta/developer-hand-book/settings">
      <svg aria-hidden="true" class="octicon octicon-gear" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path></svg>
      Settings
</a>
-->
</nav>

  </div>