<div class="box">
  <md-card>
    <md-card-title>Site Map</md-card-title>   
    <md-card-content>
          <p>Go to:</p>
          <ul>
            <li><a routerLink="/git">Get Git Command</a></li>
            <li><a routerLink="/linux">Get Linux Command</a></li>
          </ul>
    </md-card-content>
    <md-card-content>
          <p>Contact Us</p>
          <ul>
            <li><a routerLink="/info">Contact Us</a></li>
          </ul>
    </md-card-content>
  </md-card>
  <!-- Start Google Adsense -->
   <md-card>
      <md-card-content>
          <app-gadsense></app-gadsense>
      </md-card-content>
  </md-card>
  <!-- End Google Adsense -->
</div>