<div class="box">
  <md-card>
    <md-card-title>Git Commands</md-card-title>   
    <md-card-content>
          <p>Set of commands with short and sweet way. To keep handy.</p>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-content>
          <p><strong>Set your identity for first time user. So it show your name and details when you commit. </strong></p>
          <p class="codebg">
            <code>
              git config --global user.name "Your Name" \n
              git config --global user.email abcdefs@example.com
            </code>
          </p>
    </md-card-content>
    <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
    </md-card-actions>
</md-card>
</div>
